Eastmoney_report_pdf_download/reports_pdf/
Eastmoney_report_pdf_download/detail_data/
Eastmoney_report_pdf_download/raw_data/
reports_txt_by_quarter_cleaned_labeled/
reports_txt_by_quarter_cleaned_done/
reports_txt_by_quarter_cleaned/
reports_txt/
reports_txt_by_quarter/
train.csv
train_timeseries.csv
finbert_timeseries/
finbert_finetuned/
reports_txt_translation_failed
finbert_finetuned_3class
finbert_finetuned_5class
finbert_finetuned_regression
finbert_finetuned_timeseries_3class
finbert_finetuned_timeseries_5class
finbert_finetuned_timeseries_regression
draft.ipynb
labels_3class.csv
labels_5class.csv
labels_regression.csv
report_label_errors.txt
train_3class.csv
train_5class.csv
train_regression.csv
train_timeseries_3class.csv
train_timeseries_5class.csv
train_timeseries_regression.csv
val_3class.csv
val_5class.csv
val_regression.csv
val_timeseries_3class.csv
val_timeseries_5class.csv
val_timeseries_regression.csv
val_timeseries.csv
val.csv
